metadata/auto.yaml
metadata/archive.hs
metadata/annotations/http%3A%2F%2Fcogprints.org%2F772%2F3%2F152.pdf%23page%3D8.html
metadata/annotations/http%3A%2F%2Fcogprints.org%2F772%2F3%2F152.pdf.html
**\.png-768px\.png
**\.jpg-768px\.jpg
.DS_Store
**.o
**.hi
static/build/hakyll
static/build/generateDirectory
static/build/generateBacklinks
static/build/generateLinkBibliography
static/build/link-extractor
static/build/link-suggester
static/build/generateSimilar
static/build/preprocess-markdown
_cache/
_site/
